<section class="latest-articles has-padding alternate-bg" id="articles">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h4>Gallery</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <article class="article-post">
                    <div class="article-image has-overlay" style="background-image: url(Content/img/gallery-1.jpg)"></div>    
                        <figure>
                            <figcaption>
                                <h2>3D printed model of a lamp made in a 3D printing software</h2>
                            </figcaption>
                        </figure>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-post">
                    <div class="article-image has-overlay" style="background-image: url(Content/img/gallery-2.jpg)"></div>
                    <figure>
                        <figcaption>
                            <h2>3D printed meets model building with this T80 tank</h2>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-post">
                    <div class="article-image has-overlay" style="background-image: url(Content/img/gallery-3.jpg)"></div>
                    <figure>
                        <figcaption>
                            <h2>Fillenium Malcon 3d print model</h2>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
        <div class="row has-top-margin">
            <div class="col-md-4">
                <article class="article-post">
                    <div class="article-image has-overlay" style="background-image: url(Content/img/gallery-4.jpg)"></div>
                    <figure>
                        <figcaption>
                            <h2>3D printed hand robot</h2>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-post">
                    <div class="article-image has-overlay" style="background-image: url(Content/img/gallery-5.jpg)"></div>
                    <figure>
                        <figcaption>
                            <h2>3D printed wolf head ring</h2>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-post">
                    <div class="article-image has-overlay" style="background-image: url(Content/img/gallery-6.jpg)"></div>
                    <figure>
                        <figcaption>
                            <h2>3D printed face</h2>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
    </div>
</section>