<section class="crew has-padding alternate-bg" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>The Crew</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="crew-member" style="background-image: url(Content/img/Denis.jpg)">
                    <figure>
                        <figcaption class="overlay">
                            <h2>Denis Kozak</h2>
                            <p>Senior Front End Designer and Developer.</p>
                            <div class="crew-socials">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="crew-member" style="background-image: url(Content/img/Alex.jpg)">
                    <figure>
                        <figcaption class="overlay">
                            <h2>Alex Stabrovskyy</h2>
                            <p>Seo-expert.</p>
                            <div class="crew-socials">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="crew-member" style="background-image: url(Content/img/Misha.jpg)">
                    <figure>
                        <figcaption class="overlay">
                            <h2>Misha Voronovskyy</h2>
                            <p>Senior Backend Developer.</p>
                            <div class="crew-socials">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="crew-member" style="background-image: url(Content/img/Artem.jpg)">
                    <figure>
                        <figcaption class="overlay">
                            <h2>Artem Radzivon</h2>
                            <p>Noob.</p>
                            <div class="crew-socials">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
        <div class="row skillset">
            <div class="col-md-6">
                <div class="bar-chart-wrapper">
                    <h5 class="bar-chart-text">Experience Design <span class="push-right">90%</span></h5>
                    <div class="bar-wrapper">
                        <div class="bar" data-percentage="90%" style="width: 90%;">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="bar-chart-wrapper">
                    <h5 class="bar-chart-text">HTML5/CSS3 <span class="push-right">95%</span></h5>
                    <div class="bar-wrapper">
                        <div class="bar" data-percentage="95%" style="width: 95%;">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bar-chart-wrapper">
                    <h5 class="bar-chart-text">Interactive Prototyping <span class="push-right">80%</span></h5>
                    <div class="bar-wrapper">
                        <div class="bar" data-percentage="80%" style="width: 80%;">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="bar-chart-wrapper">
                    <h5 class="bar-chart-text">Visual Design <span class="push-right">90%</span></h5>
                    <div class="bar-wrapper">
                        <div class="bar" data-percentage="90%" style="width: 90%;">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>