<section class="freebies has-padding" id="freebies">
    <div class="container freebies-intro">
        <div class="row">
            <div class="col-md-12">
                <h4>Freshest Freebies</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 content-left">
                <p>A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit.</p>
            </div>
            <div class="col-md-6 content-right">
                <p>A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 no-padding">
                <article class="item wp5">
                    <figure class="has-overlay">
                        <figcaption class="overlay">
                            <div class="like-share-wrapper">
                                <ul>
                                    <li>
                                        <div class="like-button-wrapper">
                                            <a href="#" class="like_button"><i class="like-counter fa fa-heart-o"></i></a>
                                            <span class="count">0</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="freebie-content">
                                <span class="date">03/01/2016</span>
                                <h2>Sedna HTML CSS Template</h2>
                                <div class="group">
                                    <a href="http://tympanus.net/codrops/2015/08/11/freebie-sedna-one-page-website-template/" class="btn secondary">Download</a>
                                </div>
                            </div>
                        </figcaption>
                        <img src="img/sedna-freebie.jpg" alt="Sedna Freebie Peter Finlan">
                    </figure>
                </article>
            </div>
            <div class="col-md-6 no-padding">
                <article class="item wp6">
                    <figure class="has-overlay">
                        <figcaption class="overlay">
                            <div class="like-share-wrapper">
                                <ul>
                                    <li>
                                        <div class="like-button-wrapper">
                                            <a href="#" class="like_button"><i class="like-counter fa fa-heart-o"></i></a>
                                            <span class="count">0</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="freebie-content">
                                <span class="date">03/01/2016</span>
                                <h2>Land.io Sketch Template</h2>
                                <div class="group">
                                    <a href="http://tympanus.net/codrops/2015/09/16/freebie-land-io-ui-kit-landing-page-design-sketch/" class="btn secondary">Download</a>
                                </div>
                            </div>
                        </figcaption>
                        <img src="img/landio-freebie.jpg" alt="Land.io Freebie Peter Finlan">
                    </figure>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 no-padding">
                <article class="item wp7">
                    <figure class="has-overlay">
                        <figcaption class="overlay">
                            <div class="like-share-wrapper">
                                <ul>
                                    <li>
                                        <div class="like-button-wrapper">
                                            <a href="#" class="like_button"><i class="like-counter fa fa-heart-o"></i></a>
                                            <span class="count">0</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="freebie-content">
                                <span class="date">03/01/2016</span>
                                <h2>Synthetica HTML5/CSS3 Template</h2>
                                <div class="group">
                                    <a href="http://tympanus.net/codrops/?p=26570" class="btn secondary">Download</a>
                                </div>
                            </div>
                        </figcaption>
                        <img src="img/freebie-03.jpg" alt="Synthetica Freebie by Peter Finlan">
                    </figure>
                </article>
            </div>
            <div class="col-md-6 no-padding">
                <article class="item wp8">
                    <figure class="has-overlay">
                        <figcaption class="overlay">
                            <div class="like-share-wrapper">
                                <ul>
                                    <li>
                                        <div class="like-button-wrapper">
                                            <a href="#" class="like_button"><i class="like-counter fa fa-heart-o"></i></a>
                                            <span class="count">0</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="freebie-content">
                                <span class="date">03/01/2016</span>
                                <h2>Free logo concepts by Koby West</h2>
                                <div class="group">
                                    <a href="#" class="btn secondary">Download</a>
                                </div>
                            </div>
                        </figcaption>
                        <img src="img/freebie-04.jpg" alt="Synthetica by Freebie Peter Finlan">
                    </figure>
                </article>
            </div>
            <div class="is-centered">
                <a href="http://tympanus.net/codrops/author/pfinlan/" class="btn secondary view-more">View more</a>
            </div>
        </div>
    </div>
</section>