<section class="get-started has-padding text-center" id="get-started">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wp4 animated fadeInUp">
                    <p><h2>Get started now.</h2></p>
                    <p><h2>Upload a 3d model and translate their dreams into reality via WEB PRINTER</h2></p>
                    <p style="margin-right: 30px"><a href="http://tympanus.net/codrops/?p=26570" class="btn secondary-white">Get started</a></p>
				</div>
        </div>
    </div>
</section>