<section class="get-started has-padding text-center" id="get-started">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wp4 animated fadeInUp">
					<h2>Get started now. Download Synthetica <a href="http://tympanus.net/codrops/?p=26570">FREE</a>, via Codrops.</h2>
					<a href="http://tympanus.net/codrops/?p=26570" class="btn secondary-white">Get started</a>
				</div>
        </div>
    </div>
</section>