<section class="collective has-padding-info" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>How it works ?</h4>
            </div>
            <div class="col-md-9">
                <p>Imagine building a conventional wooden prototype of a car. You'd start off with a block of solid wood and carve inward, like a sculptor, gradually revealing the object "hidden" inside. Or if you wanted to make an architect's model of a house, you'd construct it like a real, prefabricated house, probably by cutting miniature replicas of the walls out of card and gluing them together. Now a laser could easily carve wood into shape and it's not beyond the realms of possibility to train a robot to stick cardboard together—but 3D printers don't work in either of these ways!</p>
                <div class="video-player">
                    <iframe width="660" height="370" src="https://www.youtube.com/embed/Gwro2HzxMgw"></iframe>
                </div>
                <p>A typical 3D printer is very much like an inkjet printer operated from a computer. It builds up a 3D model one layer at a time, from the bottom upward, by repeatedly printing over the same area in a method known as fused depositional modeling (FDM). Working entirely automatically, the printer creates a model over a period of hours by turning a 3D CAD drawing into lots of two-dimensional, cross-sectional layers—effectively separate 2D prints that sit one on top of another, but without the paper in between. Instead of using ink, which would never build up to much volume, the printer deposits layers of molten plastic or powder and fuses them together (and to the existing structure) with adhesive or ultraviolet light.</p>
            </div>
        </div>
    </div>
</section>