<section id="slid">
    <header class="hero">
        <div class="carousel js-flickity flickity-enabled is-draggable" tabindex="0">
            <div class="flickity-viewport" style="height: 344px;">
                <div class="flickity-slider" style="left: 0px; transform: translateX(-201.43%);">
                    <div class="carousel-cell" style="position: absolute; left: 0%; background-image: url(Content/img/images-1.jpg);">
                        <div class="hero-bg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h1 class="wp1 animated fadeInUp">Additive technology</h1>
                                        <h1 class="wp1 animated fadeInUp">INDUSTRIAL PROTOTYPE</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 hero-intro-text wp3 animated fadeInUp">
                                        <p>Rapid prototyping with an accuracy of 50 microns with a strong industrial plastics</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="carousel-cell" style="position: absolute; left: 100.71%; background-image: url(Content/img/images-2.jpg);">
                        <div class="hero-bg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h1 class="wp1 animated fadeInUp">Experienced professionals</h1>
                                        <h1 class="wp1 animated fadeInUp">Prints all.</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 hero-intro-text wp3 animated fadeInUp">
                                        <p>3D printing of models, concepts, decoration, 3D gifts, toys, copies of people and mechanical prostheses, and more</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="carousel-cell is-selected" style="position: absolute; left: 201.43%; background-image: url(Content/img/images-1.jpg);">
                        <div class="hero-bg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h1 class="wp1 animated fadeInUp">Professional 3D Printers</h1>
                                        <h1 class="wp1 animated fadeInUp">3D PRINT IN UKRAINE</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 hero-intro-text wp3 animated fadeInUp">
                                        <p>You come up with - we realize.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mouse-container">
            <a href="#team">
                <div class="mouse">
                    <span class="scroll-down"></span>
                </div>
            </a>
        </div>
    </header>
</section>

