<div class="stats has-padding-tall">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 stats-container">
                <i class="icon icon-Cup"></i>
                <div class="stats-wrapper">
                    <p class="stats-number" data-stop="319">319</p>
                    <p class="stats-text">Made 3D models</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 stats-container">
                <i class="icon icon-Book"></i>
                <div class="stats-wrapper">
                    <p class="stats-number" data-stop="209">209</p>
                    <p class="stats-text">Clients</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 stats-container">
                <i class="icon icon-Pen"></i>
                <div class="stats-wrapper">
                    <p class="stats-number" data-stop="6">6</p>
                    <p class="stats-text">Signing contracts with firms</p>
                </div>
            </div>
        </div>
    </div>
</div>