@model WP.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container">
    <div class="row">
        <br />
        <br />
        <br />
        <div class="col-md-8">
            <h4>Change your account settings</h4>
            <hr />
                <p style="margin-left: 32px">
                    @Html.ActionLink("Edit profile", "EditProfile")
                </p>
                <p>
                    External Logins:
                    @Html.ActionLink("Manage", "ManageLogins")
                </p>
                <p style="margin-left: 39px">
                    Password:
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                </p>
        </div>
     </div>
</div>